.svg-envelope-dims {
	width: 22.012px;
	height: 17.295px;
}

.svg-envelope2-dims {
	width: 23px;
	height: 16.391px;
}

.svg-envelope_n-dims {
	width: 45px;
	height: 45px;
}

.svg-github-dims {
	width: 26px;
	height: 22px;
}

.svg-github_hover-dims {
	width: 26px;
	height: 22px;
}

.svg-github_round-dims {
	width: 50px;
	height: 50px;
}

.svg-hamburger-dims {
	width: 40px;
	height: 35px;
}

.svg-in-dims {
	width: 24px;
	height: 22.938px;
}

.svg-in_round-dims {
	width: 50px;
	height: 50px;
}

.svg-map_marker-dims {
	width: 15.151px;
	height: 21.654px;
}

.svg-map_n-dims {
	width: 45px;
	height: 45px;
}

.svg-phone-dims {
	width: 18.864px;
	height: 18.863px;
}

.svg-phone2-dims {
	width: 16.492px;
	height: 20.947px;
}

.svg-phone_n-dims {
	width: 45px;
	height: 45px;
}

.svg-skype-dims {
	width: 24px;
	height: 24px;
}

.svg-skype_n-dims {
	width: 600px;
	height: 600px;
}

.svg-vk-dims {
	width: 30.011px;
	height: 17.123px;
}

.svg-vk_round-dims {
	width: 50px;
	height: 50px;
}

